.expend {
    margin: 10px;
    height: auto;
    width:100%;
    background-color: #f2eded;
    border-radius: 10px;
    align-items: center;
}

.details {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
